body {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 238);

}

img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 35px;
    color: black;
}

h3 {
    color: rgb(97, 97, 97);
    margin-bottom: 10px;
}

.container {
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 0, 1, auto;
    column-gap: 20px;
    width: 80%;
    color: black;
    background-color: #fdd6a2;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.card {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-decoration: none;
    width: 33%;
    height: 450px;
    border-radius: 10px;
    background-color: #fae1c1;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 1600px) {

    img {
        width: 80%;
    }
    .card {
        padding: 10px;
        height: 320px;
    }

    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {

    .card {
        height: 270px;
    }

    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
}
@media screen and (max-width: 1000px) {

    .card {
        height: 220px;
    }

    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
}
@media screen and (max-width: 520px) {

    .card {
       width: 70%;
    }

    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
}